{{#link-to "add"}}
  Добавить заказ
{{/link-to}}

<h3>Таблица заказов</h3>
<table border="1">
  <tr>
    <th>Дата/время заказа</th>
    <th>Имя заказчика</th>
    <th>Заказ</th>
    <th>Стоимость</th>
    <th>Р-н доставки</th>
    <th>Статус доставки</th>
  </tr>
  <tbody>
    {{#each model.list as |order|}}
      <tr class="order-info">
        <td>
          {{moment-format order.dateAndTime "DD/MMM/YYYY HH:MM"}}
        </td>
        <td>
          {{order.personName}}
        </td>
        <td>
          {{order.item}}
        </td>
        <td>
          {{order.price}}$
        </td>
        <td>
          {{order.deliveryDistrict}}
        </td>
        <td>
          {{order.deliveryState}}
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>