<form>
  <div class="form-group">
    <label>Имя заказчика</label>
    {{input type="text" class="personName" value=order.personName}}
    {{#if showError}}
      <div class="error">
        {{v-get order "personName" "message"}}
      </div>
    {{/if}}
  </div>

  <div class="form-group">
    <label>Заказ</label>
    {{x-select model=commodities labelKey="name" value=order.item valueKey="name"
      onSelect=(action "selectCommodity") canSearch=false}}
    {{#if showError}}
      <div class="error">
        {{v-get order "item" "message"}}
      </div>
    {{/if}}
  </div>

  {{#if order.price}}
    <div class="form-group">
      Цена: {{order.price}}$
    </div>
  {{/if}}

  <div class="form-group">
    <label>Район доставки</label>
    {{x-select model=districts labelKey="name" value=order.deliveryDistrict valueKey="name"
      onSelect=(action "selectDistrict") canSearch=false}}
    {{#if showError}}
      <div class="error">
        {{v-get order "deliveryDistrict" "message"}}
      </div>
    {{/if}}
  </div>

  {{#if isEditMode}}
    <div class="form-group">
      <label>Доставлено</label>
      {{input type="checkbox" checked=order.isDelivered}}
    </div>

    <div class="form-group">
      <button type="button" {{action (mut showError) true}} {{action "editOrder"}}>Редактировать</button>
    </div>
  {{else}}
    <div class="form-group">
      <button type="button" {{action (mut showError) true}} {{action "addOrder"}}>Добавить</button>
    </div>
  {{/if}}
</form>