<form>
  <div class="form-group">
    <label>Имя заказчика</label>
    {{input type="text" value=model.personName}}
  </div>

  <div class="form-group">
    <label>Заказ</label>
    {{x-select model=commodities labelKey="name" valueKey="name"
      onSelect=(action "selectCommodity") canSearch=false}}
  </div>

  <div class="summary-price">
    {{summaryPrice}}
  </div>

  <div class="form-group">
    <label>Район доставки</label>
    {{x-select model=districts labelKey="name" valueKey="name"
      onSelect=(action "selectDistrict") canSearch=false}}
  </div>

  <div class="form-group">
    <button type="button" {{action "addOrder"}}>Добавить</button>
  </div>
</form>